# Git
.git
.gitignore
.github

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Environment
.env
.env*

# Python / Backend junk
**/__pycache__
**/*.pyc
**/venv
**/.venv
**/tests
**/pytest_cache

# Node / Frontend junk
**/node_modules
**/.next
**/npm-debug.log
**/readme.md

# Data Volumes
postgres_data
qdrant_data
redis_data

# Documentation & Others
README.md
docs/
locustfile.py
*.csv
*.html